*.rbc
capybara-*.html
*.rspec
src/log
src/tmp
src/db/*.sqlite3
src/db/*.sqlite3-journal
src/public/system
src/coverage/
src/spec/tmp
*.orig
src/rerun.txt
src/pickle-email-*.html
src/config/initializers/secret_token.rb
src/.env
src/.bundle
src/vendor/bundle
src/Gemfile.lock
*.rvmrc
/vendor/assets/bower_components
*.bowerrc
src/bower.json
*.powenv
*.byebug_history
fabfile.pyc
src/public/apidocs
docs/*.*~
src/public/resources
src/public/zips
src/public/.pdf
src/public/public/
src/doc
src/.yardoc
*.swp
*.rbc
*.pyc
~src/public/swagger/dist/
backup/
*.pyc
.DS_Store
.swp
.env
